@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  font-weight: 400;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  border: none;
  display: inline-block;
}

.page-header {
  color: #000000;
  max-height: 64px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation Panel */

.header-logo {
  width: 140px;
  margin-right: 28px;
  margin-left: 70px;
  margin-bottom: -6px;
  z-index: 1;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 339px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 20px 32px 0 0;
}

/* User Panel*/

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 285px;
  margin: 0;
  min-width: 88px;
}

.navigation-search-item,
.navigation-like-item {
  min-width: 44px;
  min-height: 64px;
}

.navigation-search-link {
  background-image: url("../images/navigation/search.svg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-position: center;
}

.navigation-like-link {
  background-image: url("../images/navigation/heart.svg");
  background-repeat: no-repeat;
  padding: 0;
  width: 18px;
  height: 17px;
  background-position: center;
  position: relative;
}

.like-count {
  position: absolute;
  text-transform: none;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 5px 5px 4px;
  margin-top: 11px;
  letter-spacing: -0.1em;
}

.navigation-search-link,
.navigation-like-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.navigation-enter {
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
  width: 160px;
  padding: 8px 0 8px 0;
  margin: 14px 0 14px 20px;
}

/* Main Block */

.welcome-block-title {
  display: block;
  margin: 0 auto;
}

.welcome-block {
  width: 1200px;
  min-height: 485px;
  margin: 0 auto;
  background-color: #82b3d3;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
}

/* Sedona Features */

.sedona-features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  padding: 69px 290px 25px 290px;
  margin: 0;
}

.sedona-features-text {
  margin: 0 auto;
  margin-bottom: 69px;
}

.features-town {
  width: 230px;
  height: 180px;
  /* согласно макету должно быть 181, но тогда сумма не совпадает с размером картинки */
  padding: 102px 85px 102px 85px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.town-item {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.features-town-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-town-text {
  font-size: 18px;
  line-height: 21px;
}

.square-item,
.road-item,
.tourists-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  padding: 113px 85px 113px 85px;
}

.road-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-item-text {
  font-size: 18px;
  line-height: 21px;
}

.mountains-item {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.features-mountains {
  margin-left: 0;
  height: 181px;
  padding: 102px 85px 102px 85px;
}

.features-mountains-item {
  background-color: #82b3d3;
  color: #ffffff;
}

.features-mountains-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-mountains-text {
  font-size: 18px;
  line-height: 21px;
}

/* Sedona Amenities */

.sedona-amenities-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  padding: 64px 348px 20px 348px;
  margin: 0;
}

.sedona-amenities-text {
  margin: 0 auto;
  margin-bottom: 64px;
}

.amenities-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.house-item,
.food-item,
.souvenir-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  padding: 81px 85px 81px 85px;
}

.food-item {
  background-color: #ffffff;
}

.amenities-item-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.amenities-item-text {
  font-size: 18px;
  line-height: 21px;
}

/* Interest? */

.interest-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  padding: 96px 304px 20px 304px;
  margin: 0;
}

.interest-text {
  margin: 0 304px 0 304px;
  padding-bottom: 54px;
}

.find-hotels {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 376px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 412px 0 412px;
  margin-bottom: 96px;
}

/* Newsletter */

.newsletter {
  background: url("../images/newsletter-background.png");
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-email {
  font: inherit;
}

.newsletter-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

/* Footer */

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
  margin-left: 82px;
  margin-right: 237px;
}

.page-footer a {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.social-button {
  text-decoration: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.footer-logo {
  margin-left: 234px;
  max-width: 115px;
}

.page-footer .htmlacademy-link {
  text-decoration: none;
}

/* Catalog */

.filter-block {
  background: url("../images/catalog-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.hotels-main-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  width: 495px;
  padding: 35px 635px 8px 70px;
  margin: 0;
}

.breadcrumbs {
  color: #ffffff;
  padding: 0 1016px 40px 70px;
  margin: 0;
}

.filter-form {
  width: 371px;
  margin-right: 140px;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.form-submit {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.form-reset {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

/* Main Block */

.sort-method-head {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.hotels-card p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.item-button {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.item-button-more {
  background-color: #756157;
}

.item-button-favorites {
  background-color: #82b3d3;
}

.item-descr-rating-text,
.item-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* Catalog Newsletter */

.catalog-newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
