@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  font-weight: 400;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  border: none;
  display: inline-block;
}

.page-header {
  color: #000000;
  margin-bottom: -28px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation Panel */

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px 0 70px;
}

.header-logo {
  width: 140px;
  margin-right: 28px;
  margin-bottom: -6px;
  align-items: center;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 339px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px 20px 16px;
}

/* User Panel*/

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  margin: 0;
  margin-left: auto;
  max-width: 268px;
  padding: 14px 0 14px 0;
}

.navigation-search-link {
  background-image: url("../images/navigation/search.svg");
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  background-position: center;
  margin: 8px 0 8px 0;
}

.navigation-like-link {
  background-image: url("../images/navigation/heart.svg");
  background-repeat: no-repeat;
  min-width: 18px;
  min-height: 17px;
  background-position: center;
  position: relative;
  margin: 10px 0 9px 0;
}

.like-count {
  position: absolute;
  text-transform: none;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 5px 5px 4px;
  margin-top: -11px;
}

.navigation-search-link,
.navigation-like-link {
  display: block;
  min-width: 44px;
  /* min-height: 64px; */
}

.navigation-enter {
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
  width: 92px;
  padding: 8px 34px 8px 34px;
}

.navigation-enter-item {
  width: 160px;
  margin: 0 0 0 20px;
}

/* Main Block */

.welcome-block {
  width: 1200px;
  margin: 0 auto;
  background-color: #82b3d3;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  padding: 51px 0 82px 0;
}

.welcome-block-title {
  display: block;
  margin: 0 auto;
}

/* Sedona Features */

.sedona-features-item {
  padding: 69px 275px 69px 275px;
  margin: 0;
}

.sedona-features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.sedona-features-text {
  width: 651px;
  margin: 0;
}

/* Sedona Features List */

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 21px 0 0 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.features-town {
  width: 230px;
  min-height: 181px;
  padding: 102px 85px 102px 85px;
  margin: 0;
}

.town-item {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.features-town-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 28px 30px 28px;
}

.features-town-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.square-item,
.road-item,
.tourists-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  min-height: 160px;
  padding: 113px 85px 113px 85px;
  margin: 0;
}

.road-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 28px 30px 28px;
}

.features-item-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

/* Sedona Mountains */

.features-mountains {
  width: 230px;
  min-height: 181px;
  padding: 102px 85px 102px 85px;
  margin: 0;
}

.mountains-item {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.features-mountains-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 28px 30px 28px;
}

.features-mountains-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

/* Sedona Amenities */

.sedona-amenities-item {
  padding: 64px 348px 64px 348px;
  margin: 0;
}

.sedona-amenities-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.sedona-amenities-text {
  width: 505px;
  margin: 0;
}

/* Sedona Amenities List */

.amenities-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.house-item,
.food-item,
.souvenir-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  min-height: 223px;
  padding: 81px 85px 81px 85px;
  margin: 0;
}

.food-item {
  background-color: #ffffff;
}

.amenities-item-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 30px 0 30px 0;
}

.amenities-item-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

/* Interest? */

.interest {
  padding: 96px 304px 96px 304px;
  margin: 0;
}

.interest-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.interest-text {
  margin: 0 0 54px 0;
  width: 592px;
}

.find-hotels {
  font-weight: 700;
  line-height: 36px;
  font-size: 20px;
  border-radius: 4px;
  width: 276px;
  padding: 8px 50px 8px 50px;
}

/* Newsletter */

.newsletter {
  height: 100%;
  padding: 96px 258px 104px 258px;
  margin: 0;
}

.newsletter-index {
  background: url("../images/newsletter-background.png");
  background-repeat: no-repeat;
  color: #ffffff;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.newsletter-text {
  margin: 0 0 54px 0;
}

.newsletter-catalog {
  background-color: #ffffff;
}

.newsletter-catalog-title {
  color: #000000;
  margin: 0 0 20px 0;
}

.newsletter-catalog-text {
  margin: 0 0 54px 0;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-email {
  font: inherit;
}

.newsletter-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

/* Footer */

.page-footer {
  display: flex;
  padding: 40px 70px 30px 70px;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-vk,
.social-telegram,
.social-youtube {
  width: 47px;
  height: 40px;
}

.social-vk {
  background-image: url("../images/social/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-telegram {
  background-image: url("../images/social/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-youtube {
  background-image: url("../images/social/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button {
  display: block;
  text-decoration: none;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.footer-logo {
  margin-left: 234px;
  max-width: 115px;
}

.page-footer .htmlacademy-link {
  text-decoration: none;
}

/* Catalog */

.filter-block {
  background: url("../images/catalog-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.hotels-main-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  width: 495px;
  padding: 35px 635px 0 70px;
  margin: 0 0 8px 0;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  list-style-type: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link-icon {
  color: inherit;
  margin-right: 29px;
  margin-left: 71px;
}

/* Filter */

.filter-form {
  width: 371px;
  margin-right: 140px;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.form-submit {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.form-reset {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

/* Sorting Container */

.sorting-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 70px 0 70px;
}

.sorting-container-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0 200px 0 0;
  padding: 0;
}

.select-control {
  font-family: inherit;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 292px;
  padding: 14px 0 14px 20px;
  margin-right: 70px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
  appearance: none;
}

.sorting-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Hotels Cards */

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotels-container {
  width: 1060px;
  padding: 0 70px 0 70px;
  margin: 0 0 80px 0;
}

.hotels-card {
  display: grid;
  grid-template-rows: 212px repeat(4, auto);
  grid-gap: 16px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotels-card-image {
  object-fit: fill;
}

.hotels-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
}

.cards-price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.hotels-card-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
}

.hotels-card-text {
  margin: 0;
  text-align: right;
}

.cards-button {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-gap: 20px;
}

.item-button {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.item-button-more {
  background-color: #756157;
  padding: 8px 26px;
}

.item-button-favorites {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.item-rating-title,
.item-rating-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  align-content: end;
}

/* Pagination */

.pagination-container {
  display: flex;
  padding: 0 70px 60px 70px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link,
.pagination-text {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 13px;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-text {
  background-color: #ffffff;
  color: #000000;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
