@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

.page-header {
  color: #000000;
  background: #ffffff;
  text-align: left;
}

/* Navigation Panel */

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 507px;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
  /*в фгиме 862px*/
}

.navigation-link {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

/* User Panel*/

.navigation-enter {
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
}

/* Main Block */

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-block-title {
  display: block;
  margin: 0 auto;
}

.welcome-block {
  width: 1200px;
  min-height: 485px;
  margin: 0 auto;
  background-color: #82b3d3;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
}

/* Sedona Features */

.sedona-features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 290px;
  margin-bottom: 25px;
  margin-top: 69px;
}

.sedona-features-text {
  margin: 0 auto;
  margin-bottom: 69px;
}

.features-town {
  width: 230px;
  height: 180px; /* согласно макету должно быть 181, но тогда сумма не совпадает с размером картинки */
  padding: 102px 85px 102px 85px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.features-town-item {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.features-town-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-town-text {
  font-size: 18px;
  line-height: 21px;
}

.features-item {
  background-color: rgba(5, 55, 88, 0.12);
  margin: 0;
  padding: 0;
  width: 400px;
  height: 385px;
}

.features-item-title {
  color: #000000;
  font-size: 24px;
  margin: 113px 113px 62px 113px;
}

.features-item-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0 113px 113px 85px;
  width: 230px;
}

.features-mountains-item {
  display: flex;
  justify-content: space-between;
}

.features-mountains {
  margin-left: 0;
  height: 181px;
  padding: 102px 85px 102px 85px;
}

.features-mountains-item {
  background-color: #82b3d3;
  color: #ffffff;
}

.features-mountains-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-mountains-text {
  font-size: 18px;
  line-height: 21px;
}

/* Sedona Amenities */

.sedona-amenities-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 348px;
  margin-top: 64px;
  margin-bottom: 20px;
}

.sedona-amenities-text {
  margin: 0 auto;
  margin-bottom: 64px;
}

.amenities-list {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.amenities-item {
  width: 400px;
}

.amenities-item-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.amenities-item-text {
  font-size: 18px;
  line-height: 21px;
}

/* Interest? */

.interest {
  height: 406px;
}

.interest-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 96px 452px 20px 452px;
}

.interest-text {
  margin: 0 304px 54px 304px;
}

.find-hotels {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/* Newsletter */

.newsletter {
  background: url("../images/newsletter-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  text-align: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-email {
  font: inherit;
}

.newsletter-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

/* Footer */

.page-footer a {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.social-button {
  text-decoration: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.page-footer .htmlacademy-link {
  text-decoration: none;
}

/* Каталог */
.hotels-main-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #000000;
  /*должен быть белый */
}

.filter-block {
  background: url("../images/catalog-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.breadcrumbs {
  color: #ffffff;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.form-submit {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.form-reset {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.sort-method-head {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.hotels-card p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.item-button {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.item-button-more {
  background-color: #756157;
}

.item-button-favorites {
  background-color: #82b3d3;
}

.item-descr-rating-text,
.item-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.catalog-newsletter h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
